


.table1 {
    background: #208BEE;
    color: white;

}

[href] {
    color: white;
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
} 

a:hover {
    background: #1982e6;
}

.zag {
    font-weight: bold;
}


.button7 {
    font-weight: bold;
    border: none;
    color: white; /*текст*/
    text-decoration: none;/*подчеркивание ссылки*/
    padding: 10px 5px;/*внутренний отступ*/
    border-radius: 5px; /*закругление углов*/
    background: #208BEE;
    
  } 
  .button7:hover { background: #1982e6; border: none; }
  .button7:active {
    background: #0e72cf;
    border: none;
  }
  
  button:active, button:focus {
    outline: none !important;
  }
  button::-moz-focus-inner {
    border: 0 !important;
  }

  

.logo {
    font-size: 43px;
    font-family: Roboto;
    -webkit-text-stroke: .02em #FAFF00;
    color: #019F24;
    background: #208BEE
}
.logo:hover { background: #208BEE;}

.tovar:hover {
    box-shadow:0 0 10px rgb(191, 191, 191);
}

.input{
    border: none;
    border-radius: 3px; 
    padding: 5px 2px;
  }

  input:active, input:focus {
    outline: none !important;
  }
  input::-moz-focus-inner {
    border: 0 !important;
  }


/*ппппп*/
.b-popup{
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0px;
}






